APP_NAME=go-redis-job-listings
APP_ENV=development

HTTP_HOST=127.0.0.1
HTTP_PORT=8080

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=job_listings

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# access token in mins, refresh in days
ACCESS_TOKEN_DURATION=15
REFRESH_TOKEN_DURATION=7
